body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nanum Gothic', sans-serif;
}

.game {
  font-family: 'Nanum Gothic', sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}

.title {
  font-family: 'Crete Round', serif;
  text-align: center;
}

.title h1 {
  font-size: 2.5em;
}

.title hr {
  border: 1px solid #555;
}

.game-info {
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-info span {
  margin-right: 5px;
  color: #000;
}

.question-count, .status-boxes, .game-configuration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-count {
  justify-content: flex-start;
}

.status-box {
  float: left;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  clear: both;
}

.status-box-unanswered {
  background-color: #D9D9D9;
}

.status-box-correct {
  background-color: #93CA3B;
}

.status-box-incorrect {
  background-color: #FF0030;
}

.game-configuration {
  justify-content: flex-end;
}

.info-icon {
  color: #555;
}

.info-modal {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.info-modal-header {
  font-family: 'Crete Round', serif;
}

.info-modal-header h2 {
  text-align: center;
}

.info-modal-content {
  font-family: 'Nanum Gothic', sans-serif;
}

.info-modal-close-icon {
  cursor: pointer;
  padding: 5px;
  border: none;
  background: none;
  font-size: 15px;
  float: right;
}

.question-section, .finish-label {
  font-size: 2em;
  margin-top: 1em;
}

.question-text, .finish-screen {
  text-align: center;
  padding-bottom: 1em;
}

.answer-section {
  display: flex;
  justify-content: space-around;
}

.answer-choice-box, .answer-choice-box-fixed {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  font-size: 0.7em;
  background-color: #f5f5f5;
}

.answer-choice-box:hover {
  background-color: #ddd;
  border: 2px solid #777;
  font-weight: bold;
}

.flag {
  width: 92%;
  padding-bottom: 69%;
}

.correct-answer-details {
  font-weight: bold;
  font-size: 0.85em;
  color: #333;
}

.correct-answer-summary {
  padding-top: 1em;
  font-size: 0.8em;
/*  text-align: center;*/
}

.answer-summary-green {
  color: #006C0B;
}

.answer-summary-red {
  color: #8A001A;
}

.green-correct-choice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  font-size: 0.7em;
  border: 4px solid #006C0B;
  background-color: #DDF1E0;
}

.red-incorrect-choice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  font-size: 0.7em;
  border: 4px solid #AC403F;
  background-color: #F1DDDF;
}

.next-question-button {
  width: 100%;
  height: 2.5em;
  color: #555;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  border: 3px solid #555;
  background: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.next-question-button:hover {
  background: #555;
  color: #fff
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1em;
}

.results-table th, .results-table td {
    border: 3px solid #999;
    padding: 8px 12px;
    text-align: left;
}

.results-table th {
    background-color: #f5f5f5;
    color: #333;
}

/* Styling for correct and incorrect rows */
.correct {
    background-color: #DDF1E0; /* light green */
}

.incorrect {
    background-color: #F1DDDF; /* light red */
}

/* Styling for selected cell */
.selected {
    font-style: italic;
}

.correct-answer {
  font-weight: bold;
}

.centered {
  text-align: center !important;
  font-weight: bold;
}

.flag-mini {
  margin-right: 5px;
}

/* Responsive Design */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .game {
    margin-left: 5%;
    margin-right: 5%;
  }
  .question-count {
    font-size: 0.6em;
    font-weight: bold;
  }
  .game-info span {
    margin-right: 5px;
  }
  .status-box {
    height: 15px;
    width: 15px;
    margin: 0 3px;
  }
  .question-section, .finish-label {
    font-size: 1.5em;
  }
  .results-table {
    font-size: 0.8em;
  }
  .results-table th, .results-table td {
    padding: 4px 6px;
  }
  .correct-answer-details {
    font-size: 0.75em;
  }
  .info-modal {
    width: 80%;
    font-size: 0.8em;
  }
  .answer-choice-box, .answer-choice-box-fixed, .green-correct-choice, .red-incorrect-choice {
    font-size: 0.6em;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .game {
    margin-left: 10%;
    margin-right: 10%;
  }
  .question-count {
    font-size: 0.7em;
    font-weight: bold;
  }
  .game-info span {
    margin-right: 5px;
  }
  .status-box {
    margin: 0 3px;
  }
  .question-section, .finish-label {
    font-size: 1.5em;
  }
  .results-table {
    font-size: 1em;
  }
  .results-table th, .results-table td {
    padding: 4px 6px;
  }
  .correct-answer-details {
    font-size: 0.8em;
  }
  .info-modal {
    width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .game {
    margin-left: 15%;
    margin-right: 15%;
  }
  .question-count {
    font-size: 0.8em;
    font-weight: bold;
  }
  .info-modal {
    width: 500px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.game {
    margin-left: 25%;
    margin-right: 25%;
  }
  .question-count {
    font-size: 1em;
    font-weight: bold;
  }
  .info-modal {
    width: 500px;
  }
}
